
:root {
  --form-control-color: rebeccapurple;
  --form-control-disabled: #959495;
}

.todo-list {
  list-style: none;
  margin: 10px 0 0;
  padding: 5px;
  height: 300px;
  overflow: auto;
  color: #ff57b2;
  text-align: center;
}

.todo-list::-webkit-scrollbar {
  display: none;
}

.todo-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ff57b2;
  font-size: 1.5rem;
  overflow-wrap: break-word;
  cursor: pointer;
}

.todo-item + .todo-item {
  margin-top: 20px;
  border-top: 1px solid #d9d9d9;
  padding-top: 5px;
}


button {
  padding: 0.7em 0.7em;
  font-size: 0.8em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #8ec5fc;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgba(0,0,0,0.3);
  font-size: 1rem;

  transition: all 0.6s ease;
}

button:active {
  box-shadow: 0 2px rgba(0,0,0,0.5);
}

.checkbox-item {
  cursor: pointer;
  width: 5.15em;
  height: 1.5em;
 /*  text-decoration: line-through; */
}

.checkbox {
  cursor: pointer;
}

.button:hover {
  background-color: #8ec5fc;
}

.button:active {
  background-color: #8ec5fc;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  padding: 0rem 1.25rem;
}

.react-modal-overlay {
  background-color: rgba(107, 72, 84, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-modal {
  margin: 1rem 0.25rem 0rem 0rem;
  padding: 1rem 1.75rem 2rem 2rem;
  border-radius: 10px;
  width: 500px;
  height: 300px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  box-shadow: 0 6px rgba(0,0,0,0.05);
  border-radius: 4px;
}

.info-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ff57b2;
}

.buttons-modal {
  display: flex;
  gap: 10px;
}
