
:root {
  --form-control-color: rebeccapurple;
  --form-control-disabled: #959495;
}


.todo-list {
  list-style: none;
  margin: 10px 0 0;
  padding: 5px;
  height: 300px;
  overflow: auto;
  color: #ff57b2;
  text-align: center;
}

.todo-list::-webkit-scrollbar {
  display: none;
}

.todo-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ff57b2;
  font-size: 1.5rem;
  overflow-wrap: break-word;
  cursor: pointer;
} 

.todo-item + .todo-item {
  margin-top: 20px;
  border-top: 1px solid #d9d9d9;
  padding-top: 5px;
}


button {
  padding: 0.7em 0.7em;
  font-size: 0.8em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #8ec5fc;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-size: 1rem;
}

.checkbox-item { 
  cursor: pointer;
  width: 5.15em;
  height: 1.5em;
 /*  text-decoration: line-through; */
}

/* .checked {
  text-decoration: line-through;
  https://www.w3schools.com/howto/howto_js_todolist.asp
  https://contactmentor.com/checkbox-list-react-js-example/
} */
/* 
input.checkbox-item{
  background: #888;
  color: #fff;
  text-decoration: line-through;
} */

/* .input.checked-item {
  text-decoration: line-through;
} */

.checkbox {
  cursor: pointer;
}

.button:hover {
  background-color: #8ec5fc;
}

.button:active {
  background-color: #8ec5fc;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

