.search {
  display: flex;
  align-items: center;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1.5em;
  padding-top: 15px;
  margin-top: 15px;
  border: 2px solid #8ec5fc;
}

.search input {
  border: none;
  background-color: rgb(233, 233, 233);
  width: 100%;
}

.search input:focus {
  outline: none;
}
