/* .checkbox {
    display: block;
    width: 40px;
    height: 40px;
    margin: 50px auto;

    border: 7px solid black;
    cursor: pointer;
}

.checkbox.checked {
    background-color: black;
} */