*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #1a1d23;
}

.container {
  background-color: #f2f2f2;
  width: 400px;
  padding: 10px;
  border-radius: 5px;
}

.list {
  text-align: center;
  color: #ff57b2;
}


@media (max-width: 720px) {
   body{
    font-size: 87.5%
  }
}
